.content {
  width: 80%;
  height: 100%;
  background-color: #fff;
  &__bg {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 20%;
    font-size: 32px;
  }
}

.info {
  display: flex;
  align-items: center;
  width: 100%;
  height: 200px;
  padding: 0 0 0 20px;
  border-top: 2px solid #161616;
  border-bottom: 2px solid #161616;
  &__icon {
    display: flex;
    width: 150px;
    height: 150px;
    margin: 0 20px 0 0;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  &__text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 400px;
    height: 150px;
    font-size: 18px;
    span {
      color: #545454;
    }
  }
}

.item {
  width: 100%;
  height: 50px;
  border: 1px solid #fff;
}