html,
body {
  height: 100%;
  background-color: #161616;
}

#root {
  height: 100%;
}

* {
  box-sizing: border-box;
  a {
    color: #fff;
    text-decoration: none;
  }
}

.app-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.main-content {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}